@model CandidateOwnerView
<div class="add-popup">
    <div class="close"></div>
    <div class="popup-header">
        <h1>Долучайся до проекту</h1>
        <div class="popup-subtitle">
            Заповніть форму зворотнього зв’язку, щоб дізнатись більше про проект або стати його учасником
        </div>
    </div>
    <div class="popup-body">
            <h1>
                Повідомлення надіслано
            </h1>
            <div class="form-end">
                <a href="https://www.facebook.com/urbanspace100"><span class="facebook"></span><span class="text">facebook спільнота</span></a>
                <button class="submit-btn close-btn">Закрити</button>
            </div>
    </div>
</div>
