<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="mailTemplatesConfig" type="urban100.Web.Global.Config.MailTemplateConfig, urban100" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AdminMain" value="chernikov@gmail.com" />
    <add key="DebugMode" value="true" />
    <add key="EnableMail" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=mssql4.1gb.ua;Initial Catalog=1gb_urbanspace;User Id=1gb_chernikov;Password=153c5112;"></add> 
    <!--<add name="ConnectionString" connectionString="Data Source=SATURN\MSSQL;Initial Catalog=urban100.Db;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/error">
      <error statusCode="403" redirect="~/error" />
      <error statusCode="404" redirect="~/not-found-page" />
    </customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="&quot;urban100Mail&quot; &lt;lxndrpetrov@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="lxndrpetrov" password="nbgjuhfabz" />
        <specifiedPickupDirectory pickupDirectoryLocation="D:\test\mails" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Content/logs/${shortdate}" />
    <targets>
      <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt" />
      <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
      <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
      <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.txt" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace" />
      <logger name="*" level="Debug" writeTo="fileLogDebug" />
      <logger name="*" level="Info" writeTo="fileLogInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    </rules>
  </nlog>
  <mailTemplatesConfig>
    <mailTemplates>
      <add name="Register" subject="Registration on {0}" template="Hello! &lt;br/&gt;&lt;br/&gt; Please, follow link  &lt;a href='http://{1}/User/Activate/{0}'&gt;http://{1}/User/Activate/{0}&lt;/a&gt;, for confirm your email address.&lt;br/&gt;-----&lt;br/&gt;Regards, &lt;a href='http://{1}'&gt;{1}&lt;/a&gt; team" />
      <add name="ForgotPassword" subject="Your access to {0}" template="Hello!&lt;br/&gt;&lt;br/&gt;Your access info on &lt;a href='http://{2}/'&gt;{2}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Email : {0}&lt;br/&gt;Password: {1}&lt;br/&gt;&lt;br/&gt; -----&lt;br/&gt;Regards, &lt;a href='http://{2}'&gt;{2}&lt;/a&gt; team" />
    </mailTemplates>
  </mailTemplatesConfig>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
  <resizer>
    <plugins>
      <add name="MvcRoutingShim" />
      <add name="DiskCache" />
    </plugins>
  </resizer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>