@{
    ViewBag.Title = "Your account is activated";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Your account is activated</h2>

<p>@Html.ActionLink("On main", "Index", "Home")</p>